:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #fafafa;
  --color-bg-cta-button: #f97794;
  --color-text-primary: #000;
  --color-text-cta-button: #fff;
  --color-border: #f6f6f7;
  --color-border-dark: #ddd;
}