html {
  font-size: 18px;
}

h1 {
  font-family: "Pridi";
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

h1.soft {
  font-family: "PT Serif";
  font-weight: Normal;
  font-style: italic;
}

header nav ul {
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--color-border-dark);
}

header nav ul li:first-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header img.logo {
  width: 140px;
}

body {
  font-family: "PT Serif", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}

body > main > article > section {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  padding: 80px 0;
}

body > main > article > section.alt {
  background-color: var(--color-bg-secondary);
}

.content-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.content-container.centered {
  align-items: center;
  text-align: center;
}

.content-container:not(:last-of-type) {
  margin-bottom: 80px;
}

.info-box {
  max-width: 700px;
}

.info-box p {
  margin-bottom: 20px;
}

.info-box.secondary {
  font-size: 0.9rem;
}

.info-box.secondary h1 {
  font-size: 1.5rem;
}

.hero-box {
  display: flex;
  align-items: center;
}

.hero-box > * {
  flex: 1 1;
}

.hero-image {
  display: flex;
  justify-content: flex-end;
}

.hero-image img {
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

.photo-desc {
  width: 100%;
  height: 600px;
  display: flex;
}

.photo-desc > * {
  width: 50%;
}

.photo-desc.left {
  flex-direction: row-reverse;
}

.photo-desc .desc {
  align-self: center;
}

.photo-desc .desc > :not(:last-child) {
  margin-bottom: 80px;
}

.photo-desc .img-container {
  position: relative;
}

.photo-desc img {
  height: 600px;
  position: absolute;
  left: 150px;
}

.photo-desc.left img {
  left: unset;
  right: 150px;
}

.cta-button {
  font-family: "PT Sans";
  font-weight: bold;
  display: inline-block;
  background-color: var(--color-bg-cta-button);
  color: var(--color-text-cta-button);
  padding: 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
}

.pricing {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing p {
  margin-bottom: 20px;
}

.pricing .breakdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pricing .breakdown > * {
  flex: 1 1;
  max-width: 500px;
  padding: 20px 60px;
}

.pricing .breakdown > :first-child {
  border-right: 1px solid var(--color-border-dark);
}

.pricing .monthly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing .monthly > :first-child {
  font-size: 80px;
  font-family: "Pridi";
  font-weight: lighter;
  margin-right: 15px;
}

.pricing .monthly > :nth-child(2) {
  color: var(--color-text-secondary);
  text-align: left;
  font-size: 14px;
}

.pricing .inclusions {
  text-align: left;
}

.pricing .inclusions ul li {
  margin-bottom: 20px;
}

.pricing .inclusions ul li::before {
  content: '✓';
  font-size: 21px;
  margin-right: 10px;
}

.pricing .notes {
  color: var(--color-text-secondary);
  max-width: 500px;
  margin-top: 20px;
}

.empower::before {
  content: '';
  display: inline-block;
  width: 260px;
  height: 130px;
  background-color: #c4c4c4;
  margin-bottom: 15px;
  border-top-left-radius: 130px;
  border-top-right-radius: 130px;
}

@media (max-width: 768px) {
  .content-container {
    padding: 0 20px;
  }

  .hero-box {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .hero-image {
    margin-top: 60px;
  }

  .hero-image img {
    width: 100%;
    height: auto;
  }

  .photo-desc {
    flex-direction: column-reverse;
    height: auto;
  }

  .photo-desc.left {
    flex-direction: column;
  }

  .photo-desc > * {
    width: unset;
  }  

  .photo-desc .img-container{
    text-align: center;
  }

  .photo-desc img {
    position: static;
    height: auto;
    width: 100%;
    object-fit: contain;
  }

  .pricing .breakdown {
    flex-direction: column;
  }

  .pricing .breakdown > :first-child {
    border-right: unset;
  }

  .pricing .breakdown > * {
    max-width: unset;
    padding: 20px 40px;
  }
}
