html {
  font-size: 18px;
}

h1, h2 {
  font-family: "Pridi";
  font-weight: 600;
  line-height: 1;
  margin-bottom: 20px;
}

h1 {
  font-size: var(--font-size-header-large);
}

h2 {
  font-size: var(--font-size-header-small);
}

h1.soft {
  font-family: "PT Serif";
  font-weight: Normal;
  font-style: italic;
}

.button {
  font-family: "PT Sans";
  font-weight: bold;
  display: inline-block;
  background-color: var(--color-bg-cta-button);
  color: var(--color-text-cta-button);
  padding: 5px 10px;
  border: 1px solid var(--color-border);
  border-radius: 5px;
  font-size: var(--font-size-body-large);
}

.button.small {
  font-size: var(--font-size-body-small);
}

header nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--color-border-dark);
}

header nav ul li:first-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header img.logo {
  width: 140px;
}

body {
  font-family: "PT Serif", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}

body > main > article > section {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  padding: 80px 0;
}

body > main > article > section.alt {
  background-color: var(--color-bg-secondary);
  border-top: 1px solid var(--color-border-dark);
  border-bottom: 1px solid var(--color-border-dark);
  background-image: url(../img/bg/food.jpg);
}

.content-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.content-container.centered {
  align-items: center;
  text-align: center;
}

.content-container:not(:last-of-type) {
  margin-bottom: 80px;
}

.info-box {
  max-width: 700px;
}

.info-box p {
  margin-bottom: 20px;
}

.info-box.secondary {
  font-size: var(--font-size-body-small);
}

.info-box.secondary h1 {
  font-size: var(--font-size-header-medium);
}

.hero-box {
  display: flex;
  align-items: center;
}

.hero-box > * {
  flex: 1 1 0;
}

.hero-box > :not(:first-child) {
  margin-left: 20px;
}

.hero-image {
  display: flex;
}

.hero-image.right {
  justify-content: flex-end;
}

.hero-image img {
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

.punchline {
  font-size: var(--font-size-body-large);
  margin: 60px 0;
}

.photo-desc {
  width: 100%;
  height: 600px;
  display: flex;
}

.photo-desc > * {
  width: 50%;
}

.photo-desc.left {
  flex-direction: row-reverse;
}

.photo-desc .desc {
  align-self: center;
}

.photo-desc .desc > :not(:last-child) {
  margin-bottom: 80px;
}

.photo-desc .img-container {
  position: relative;
}

.photo-desc img {
  height: 600px;
  position: absolute;
  left: 150px;
}

.photo-desc.left img {
  left: unset;
  right: 150px;
}

.pricing {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing p {
  margin-bottom: 20px;
}

.pricing .breakdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pricing .breakdown > * {
  flex: 1 1;
  max-width: 500px;
  padding: 20px 60px;
}

.pricing .breakdown > :first-child {
  border-right: 1px solid var(--color-border-dark);
}

.pricing .monthly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing .monthly > :first-child {
  font-size: 80px;
  font-family: "Pridi";
  font-weight: lighter;
  margin-right: 15px;
}

.pricing .monthly > :nth-child(2) {
  color: var(--color-text-secondary);
  text-align: left;
  font-size: 14px;
}

.pricing .inclusions {
  text-align: left;
}

.pricing .inclusions ul li {
  margin-bottom: 20px;
}

.pricing .inclusions ul li::before {
  content: '✓';
  font-size: 21px;
  margin-right: 10px;
}

.pricing .fineprint {
  font-size: var(--font-size-body-fineprint);
  max-width: 400px;
  margin-top: 20px;
}

.empower img {
  margin-bottom: 20px;
}

ul.steps {
  display: flex;
  margin: 80px 0 ;
}

ul.steps li {
  flex: 1 1 0;
  padding: 0 20px;
  font-size: var(--font-size-body-small);
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 40px 0;
}

.info-grid > * {
  padding: 30px;
  text-align: left;
}

.team {
  display: flex;
  width: 100%;
}

.team > * {
  flex: 1 1 0;
}

.team img {
  width: 220px;
  border-radius: 16px;
}

.team .name {
  font-family: "Pridi";
  font-weight: 600;
  font-size: var(--font-size-header-small);
  line-height: 1;
  margin: 10px 0;
}

.team .role {
  font-size: var(--font-size-body-small);
  color: var(--color-text-secondary);
}

.get-in-touch {
  margin-top: 60px;
}

.get-in-touch a {
  text-decoration: underline;
}

footer {
  font-size: var(--font-size-body-fineprint);
  color: var(--color-text-secondary);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-border-dark);
}

@media (max-width: 768px) {
  body > main > article > section {
    padding: 60px 0;
  }

  .content-container {
    padding: 0 20px;
  }

  .hero-box {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .hero-box > :not(:first-child) {
    margin: 0;
  }

  .hero-image {
    margin-bottom: 20px;
  }

  .hero-image.right {
    margin-top: 20px;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }

  .photo-desc {
    flex-direction: column-reverse;
    height: auto;
  }

  .photo-desc.left {
    flex-direction: column;
  }

  .photo-desc > * {
    width: unset;
  }  

  .photo-desc .img-container{
    text-align: center;
  }

  .photo-desc img {
    position: static;
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
  }

  .photo-desc.left img {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .pricing .breakdown {
    flex-direction: column;
  }

  .pricing .breakdown > :first-child {
    border-right: unset;
  }

  .pricing .breakdown > * {
    max-width: unset;
    padding: 20px 40px;
  }

  ul.steps {
    flex-direction: column;
  }

  ul.steps li:not(:last-child) {
    margin-bottom: 60px;
  }

  
  .info-grid {
    grid-template-columns: 1fr;
  }

  .team {
    flex-direction: column;
  }

  .team > * {
    margin-bottom: 40px;
  }
}
