html {
  font-size: 18px;
}

h1, h2 {
  font-family: "Pridi";
  font-weight: 600;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 0.022em;
}

h1 {
  font-size: var(--font-size-header-large);
}

h2 {
  font-size: var(--font-size-header-small);
}

h1.soft {
  font-family: "PT Serif";
  font-weight: Normal;
  font-style: italic;
}

p {
  margin-bottom: 20px;
}

.button, .button-secondary {
  font-family: "PT Sans";
  font-weight: bold;
  display: inline-block;
  background-color: var(--color-brand);
  color: var(--color-text-cta-button);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: var(--font-size-body-large);
  vertical-align: middle;
}

.button.small {
  font-size: var(--font-size-body-small);
}

.button-secondary {
  background-color: transparent;
  border: 1px solid black;
  color: black;
  font-weight: normal;
}

.large-bottom-margin {
  margin-bottom: 80px;
}

header nav ul {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid var(--color-border);
}

header nav ul li:first-child {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

header img.logo {
  width: 140px;
}

body {
  font-family: "PT Serif", Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -moz-osx-font-smoothing: grayscale;
}

body > main > article > section {
  background-color: var(--color-bg-primary);
  overflow-x: hidden;
  padding: 80px 0;
}

body > main > article > section.alt {
  background-color: var(--color-bg-secondary);
  border-top: 1px solid var(--color-border);
  border-bottom: 1px solid var(--color-border);
  background-image: url(../img/bg/food.jpg);
}

.content-container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
}

.content-container.centered {
  align-items: center;
  text-align: center;
}

.content-container:not(:last-of-type) {
  margin-bottom: 80px;
}

.info-box {
  max-width: 700px;
}

.info-box h1 {
  margin-bottom: 40px;
}

.info-box.secondary {
  font-size: var(--font-size-body-small);
}

.info-box.secondary h1 {
  font-size: var(--font-size-header-medium);
  margin-bottom: 20px;
}

.hero-box {
  display: flex;
  align-items: center;
}

.hero-box > * {
  flex: 1 1 0;
}

.hero-box > :not(:first-child) {
  margin-left: 20px;
}

.hero-box .actions {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}

.hero-image {
  display: flex;
}

.hero-image.right {
  justify-content: flex-end;
}

.hero-image img {
  width: 500px;
  border-radius: 16px;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.15);
}

.hero-image > iframe {
    width: 608px;
    height: 342px;
}

.punchline {
  font-size: var(--font-size-body-large);
}

.photo-desc {
  width: 100%;
  height: 600px;
  display: flex;
}

.photo-desc > * {
  width: 50%;
}

.photo-desc.left {
  flex-direction: row-reverse;
}

.photo-desc .desc {
  align-self: center;
}

.photo-desc .desc > :not(:last-child) {
  margin-bottom: 80px;
}

.photo-desc .img-container {
  position: relative;
}

.photo-desc img {
  height: 600px;
  position: absolute;
  left: 150px;
}

.photo-desc.left img {
  left: unset;
  right: 150px;
}

.pricing {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.pricing .breakdown {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.pricing .breakdown > * {
  flex: 1 1;
  max-width: 500px;
  padding: 20px 60px;
}

.pricing .breakdown > :first-child {
  border-right: 1px solid var(--color-border);
}

.pricing .monthly {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pricing .monthly > :first-child {
  font-size: 80px;
  font-family: "Pridi";
  font-weight: lighter;
  margin-right: 15px;
}

.pricing .monthly > :nth-child(2) {
  color: var(--color-text-secondary);
  text-align: left;
  font-size: 14px;
}

.pricing .inclusions {
  text-align: left;
}

.pricing .inclusions ul li {
  margin-bottom: 20px;
}

.pricing .inclusions ul li::before {
  content: '✓';
  font-size: 21px;
  margin-right: 10px;
}

.pricing .fineprint {
  font-size: var(--font-size-body-fineprint);
  max-width: 400px;
  margin-top: 20px;
}

.empower img {
  margin-bottom: 20px;
}

ul.steps {
  display: flex;
  margin: 80px 0 ;
}

ul.steps li {
  flex: 1 1 0;
  padding: 0 40px;
  font-size: var(--font-size-body-small);
}

.info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 60px;
  margin: 40px 0;
}

.info-grid > * {
  text-align: left;
}

.team {
  display: flex;
  width: 100%;
}

.team > .seperator {
  flex: 1 1 0;
}

.team img {
  width: 220px;
  border-radius: 16px;
}

.team .name {
  font-family: "Pridi";
  font-weight: 600;
  font-size: var(--font-size-header-small);
  line-height: 1;
  margin: 10px 0;
}

.team .role {
  font-size: var(--font-size-body-small);
  color: var(--color-text-secondary);
}

.get-in-touch {
  margin-top: 60px;
}

.get-in-touch a {
  text-decoration: underline;
}

img.emoji {
  width: 20px;
  vertical-align: sub;
}

form {
  font-family: "Arial";
  width: 100%;
  max-width: 420px;
}

form .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  align-items: flex-start;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid var(--color-border-dark);
  border-radius: 4px;
  width: 100%;
  font-size: var(--font-size-body-normal);
}

form label {
  font-size: var(--font-size-body-small);
  margin-bottom: 5px;
}

form label > span {
  color: var(--color-text-secondary);
  font-style: italic;
}

form .button {
  padding: 10px;
  width: 100%;
}

#contactForm {
  margin-top: 40px;
}

.submit-message-container {
  position: relative;
}

#submission-message {
  margin-top: 5px;
  font-size: var(--font-size-body-fineprint);
  transition: opacity 0.4s;
}

#submission-spinner {
  opacity: 0;
  transition: opacity 0.3s;
}

footer {
  font-size: var(--font-size-body-fineprint);
  color: var(--color-text-secondary);
  padding: 10px;
  display: flex;
  justify-content: center;
  border-top: 1px solid var(--color-border);
}

.lds-ellipsis {
  position: absolute;
  width: 40px;
  left: 0;
  right: 0;
  top: 5px;
  margin: 0 auto;
}
.lds-ellipsis div {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--color-brand);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 20px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 32px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(12px, 0);
  }
}


@media (max-width: 1023px) {
  body > main > article > section {
    padding: 60px 0;
  }

  .content-container {
    padding: 0 20px;
  }

  .hero-box {
    flex-direction: column;
    width: 100%;
    text-align: center;
  }

  .hero-box > :not(:first-child) {
    margin: 0;
  }

  .hero-box .actions {
    justify-content: center;
  }

  .hero-image {
    margin-bottom: 20px;
    width: 100%;
  }

  .hero-image.right {
    margin-top: 20px;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
  }

  .hero-image > iframe {
    width: calc(100vw - 40px);
    height: calc((100vw - 40px) * 9 / 16);
  }

  .photo-desc {
    flex-direction: column-reverse;
    height: auto;
  }

  .photo-desc.left {
    flex-direction: column;
  }

  .photo-desc > * {
    width: unset;
  }  

  .photo-desc .img-container{
    text-align: center;
  }

  .photo-desc img {
    position: static;
    height: auto;
    width: 100%;
    object-fit: contain;
    margin-bottom: 40px;
  }

  .photo-desc.left img {
    margin-bottom: 0;
    margin-top: 40px;
  }

  .pricing .breakdown {
    flex-direction: column;
  }

  .pricing .breakdown > :first-child {
    border-right: unset;
  }

  .pricing .breakdown > * {
    max-width: unset;
    padding: 20px 40px;
  }

  ul.steps {
    flex-direction: column;
  }

  ul.steps li:not(:last-child) {
    margin-bottom: 60px;
  }
  
  .info-grid {
    grid-template-columns: 1fr;
  }

  .team {
    flex-direction: column;
  }

  .team > * {
    margin-bottom: 40px;
  }
}
